.headerMain {
  white-space: nowrap;
  font-size: 16px;
  color: white;
  line-height: 18px;
  background: #333333;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;


  .headerMainFlexbox {
    display: flex;
    gap: 64px;

    span {
      color: #956D84;
    }
  }

  .secondaryFlexbox {
    justify-content: space-around;
    gap: 12px;
    display: flex;
  }

  .headerMainRegistration {
    align-items: center;
    display: flex;
    gap: 4px;

  }
}

@media screen and (max-width: 320px) {

   .headerMain {
     display: flex;
     justify-content: center;
     align-items: center;
     .p {
       display: none;
     }
     .span {
       display: none;
     }
   }
}