.header {
  display: flex;
  justify-content: flex-end;
  gap: 500px;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 141px;

  .h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 18px;
    color: #000000;
  }

  .p {
    margin-right: 10px;
    border: none;
    background: white;
  }
}


.forumContainerWrapper {
  display: flex;
  gap: 21px;
  padding-top: 43px;
  padding-left: 10px;

  .forumContainer {
    position: relative;
    height: 460px;
    width: 460px;
    background: #956D84;

    .forumContainerImg {
      position: relative;
      bottom: 50px;
      left: 25px;
    }

    .forumContainerBox {
      padding-bottom: 29px;
      position: absolute;
      bottom: 0;
      padding-left: 14px;
      padding-right: 19px;

      .forumContainerHeader {
        color: white;
        font-weight: 300;
        font-size: 24px;
        line-height: 25px;
        padding-bottom: 25px;
      }

      .forumContainerSubheader {
        color: #FFFFFF;
        font-weight: 250;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .forumContainerWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: flex-start;
    }

    .forumContainer:last-child {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin: 0;
    width: var(--width-mobile);

    .forumContainerWrapper {
      flex-wrap: nowrap;
    }

    .forumContainer {
      height: 350px;
      padding: 20px;

      .forumContainerImg {
        img {
          position: relative;
          right: 25px;
          height: 214px;
          width: 257.05px;
        }
      }
    }

    .forumContainerBox {
      width: 287px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .p {
      display: none;
    }

    .forumContainerHeader {
      p {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
      }
    }

    .forumContainerSubheader {
      p {
        font-weight: 250;
        font-size: 12px;
        line-height: 15px;
      }
    }

    .header {
      display: flex;
      justify-content: center;

      p {
        font-weight: 700;
        font-size: 24px;
        line-height: 18px;
      }
    }
  }
}
