.header {
  display: flex;
  justify-content: flex-end;
  gap: 500px;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 141px;

  .h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 18px;
    color: #000000;
  }

  .p {
    margin-right: 10px;
    border: none;
    background: white;
  }
}


.forumContainerWrapper {
  display: flex;
  gap: 21px;
  padding-top: 43px;
  padding-left: 10px;

  .forumContainer {
    position: relative;
    height: 460px;
    width: 460px;
    background: #956D84;

    .forumContainerImg {
      position: relative;
      bottom: 50px;
      left: 25px;
    }

    .forumContainerBox {
      padding-bottom: 29px;
      position: absolute;
      bottom: 0;
      padding-left: 14px;
      padding-right: 19px;

      .forumContainerHeader {
        color: white;
        font-weight: 300;
        font-size: 24px;
        line-height: 25px;
        padding-bottom: 25px;
      }

      .forumContainerSubheader {
        color: #FFFFFF;
        font-weight: 250;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
