.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  width: 220px;
  height: 63px;
  background: #956D84;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}