.loginFormWrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{

      margin-top: 20px;
      font-size: 18px;
      background: none;
    }
  }
}
@media screen and (max-width: 375px){
  .container {
    max-width: var(--width-tablet);

    .loginFormWrapper{
      width: 100%;
      form{
        input{
          font-size: 17px;
          padding-left: 25px;
          max-width: var(--width-mobile) ;
        }
      }
    }
  }
}
