.addProduct{
  display: flex;
  align-items: center;
  flex-direction: column;
  img{
    width: 300px;
  }
  .input__list{
    display: flex;
    flex-direction: column;
    &_wrapper{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      input{

        width: 415px;
        height: 39px;
        background: none;
        padding:10px;
        border-radius:10px;
      }
      label{
        text-align: center;
      }
    }

    select {
      background: none;
      width: 100%;
      padding:10px;
      border-radius:10px;
    }
  }
}