.mainFlexbox {
  padding-top: 28px;
  padding-left: 4px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 55px;
}

.outerFlexbox {
  display: flex;
  flex-direction: column;
}

.innerFlexbox {
  gap: 21px;
  display: flex;
  flex-direction: row;
}

.secondaryFlexBox {
  display: flex;
  flex-direction: row;
  gap: 53px;
  padding-top: 47px;
}

.input {
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  padding: 8px;
  background: white;
  height: 26px;
  width: 219px;
  border: 0 solid #956D84;
  border-bottom-width: 1px;
  outline: none;
}

.inputSecond {
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  padding: 8px;
  background: white;
  height: 26px;
  width: 510px;
  border: 0 solid #956D84;
  border-bottom-width: 1px;
  outline: none;
}

.inputSecondIcon {
  right: 5px;
  position: absolute;
}

.inputSecondBlock {
  position: relative;
}

.icons {
  display: flex;
  gap: 13px;
  padding-bottom: 19px;
}

.iconsSecondary {
  display: flex;
  align-items: center;
  padding-top: 27px;
  gap: 26px;
}

@media screen and (max-width: 1050px) {
  .secondaryFlexBox {
    display: none;
  }
  .innerFlexbox {
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
  .inputSecond {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .outerFlexbox {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: var(--width-mobile);
    .mainFlexbox {
      gap: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
    }
    .outerFlexbox {
      display: flex;
      flex-direction: row;
      .removable {
        display: none;
      }
      input {
        display: none;
      }
      .icons {
        display: none;
      }
      .inputSecondIcon {
        position: relative;
        right: 0;
        top: 5px;
        height: 18.117645263671875px;
        width: 18.117645263671875px;
      }
      .cart {
        height: 23.000003814697266px;
        width: 25.000001907348633px;
      }
      .logo {
        height: 78px;
        width: 75px;
      }
      .heart {
        display: none;
      }
    }
  }

}

