.map {
  padding-bottom: 72px;
  display: flex;
  justify-content: center;
  position: relative;
  border: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 70px;
}

.mapItem {
  height: 508px;
}

.mediaIcons {
  padding-top: 32px;
}

.onMapCard {
  div:has(p) {
    padding: 13px;
  }

  background: #FFFFFF;
  right: 20%;
  position: absolute;
  width: 380px;
  height: 508px;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.15), 4px 0px 10px rgba(0, 0, 0, 0.15);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;

  .onMapCardFlex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .onMapCardFlexChild {
      align-items: flex-start;
      flex-direction: column;
      display: flex;
      text-align: left;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--width-desktop);
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin-bottom: 90px;
    max-width: var(--width-mobile);

    .mediaIcons {
      margin: 0 auto;
      padding-top: 0;
    }

    .media {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
    }

    .map {
      position: relative;
      padding-left: 0;
      padding-right: 0;
    }

    .mapItem {
      height: 250px;
    }

    .onMapCard {
      div:has(p) {
        padding: 5px;
      }

      height: 300px;
      width: 299px;
      position: absolute;
      bottom: -10rem;
      left: 0;
      margin: 7px;
    }
  }
}@media screen and (max-width: 375px) {
  .container {
    margin-bottom: 200px;
    max-width: var(--width-tablet);

    .mediaIcons {
      margin: 0 auto;
      padding-top: 0;
    }

    .media {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
    }

    .map {
      position: relative;
      padding-left: 0;
      padding-right: 0;
    }

    .mapItem {
      height: 250px;
    }

    .onMapCard {
      div:has(p) {
        padding: 5px;
      }

      height: 300px;
      width: 350px;
      position: absolute;
      bottom: -10rem;
      left: 0;
      margin: 7px;
    }
  }
}