.footer {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  position: absolute;
  background: #333333;
  height: 348px;

  p:first-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
  }

  .wrapper {
    border-bottom: 1px solid #956D84;

    .upper {
      padding: 45px 10px 33px;
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 95px;

      .upperFlex {
        gap: 95px;
        display: flex;

        .upperFlexColumn {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

.lowerFlexInner {
  gap: 300px;
  font-family: var(--font-mono);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 23px;
  justify-content: space-between;
  display: flex;

  .lowerFlex {
    align-items: center;
    display: flex;
    gap: 28px;
  }
}

.length {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1416px;
}

@media screen and (max-width: 320px) {
  .footer {
    width: var(--width-mobile);
    height: 100%;
  }
  .lowerFlex {
    width: var(--width-mobile);
    display: flex;
    flex-direction: column;
  }
  .length {
    width: var(--width-mobile);

  }
}