:root {
    --max-width: 1920px;
    --font-mono: Museo Sans Cyrl;
    --width-mobile: 320px;
    --width-tablet: 481px;
    --width-laptop: 816px;
    --width-desktop: 1025px;
    --width-desktop-xl: 1025px;
}



* {
    scroll-behavior: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    cursor: pointer;
}

html,
body {

    background: url("../assets/flowersBg.svg") repeat-y;
    font-family: 'Museo Sans Cyrl', sans-serif;
    overflow-x: hidden;
}

body {
    background-size:100% 100%;
    background: url("../assets/flowersBg.svg") repeat-y;
    color: revert;
}


a {
    color: inherit;
    text-decoration: none;
}


input {
    width: 415px;
    height: 68px;
    border: 1px solid #E0E0E0;
}

.--btn-success {
    margin-top: 20px;
    color: #fff;
    background: #956D84;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    width: 220px;
    height: 63px;
}
.container{
    margin: 0 auto;
    max-width: 1421px;;
}

.footer__link{
    display: block;
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s all;

}
.footer__link:hover{
    color: #956D84;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #5a5a5a;
    }
}


