:root {
    --max-width: 1920px;
    --font-mono: Museo Sans Cyrl
}


* {
    scroll-behavior: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body {
    background: url("../pages/mainPage/assets/flowersBg.svg") repeat-y;
    font-family: 'Museo Sans Cyrl', sans-serif;
    overflow-x: hidden;
}

body {
    cursor: none !important;
    color: revert;
}
iframe {
    cursor: none !important;
}

a {
    cursor: none !important;
    color: inherit;
    text-decoration: none;
}

button {
    cursor: none !important;
}

input {
    cursor: none !important;

}

@media (prefers-color-scheme: dark) {
    html {

    }
}

