:root {
    --max-width: 1920px;
    --font-mono: Museo Sans Cyrl;
    --width-mobile: 320px;
    --width-tablet: 481px;
    --width-laptop: 769px;
    --width-desktop: 1025px;
    --width-desktop-xl: 1025px;
}


/*//export const MIN_WIDTH_MOBILE = 320;*/
/*    export const MIN_WIDTH_TABLET = 481;*/
/*    export const MIN_WIDTH_LAPTOP = 769;*/
/*    export const MIN_WIDTH_DESKTOP = 1025;*/
/*    export const MIN_WIDTH_DESKTOP_XL = 1201;*/

* {
    scroll-behavior: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    cursor: pointer;
}

html,
body {
    background: url("../assets/flowersBg.svg") repeat-y;
    font-family: 'Museo Sans Cyrl', sans-serif;
    overflow-x: hidden;
}

body {
    background: url("../assets/flowersBg.svg") repeat-y;
    color: revert;
}


a {
    color: inherit;
    text-decoration: none;
}


input {
    width: 415px;
    height: 68px;
    border: 1px solid #E0E0E0;
}

.--btn-success {
    margin-top: 20px;
    color: #fff;
    background: #956D84;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    width: 220px;
    height: 63px;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #5a5a5a;
    }
}

@media screen and (max-width: 320px) {
    html {
        width: var(--width-mobile);
    }
}

